*,
*::before,
*::after {
/*	border:1px solid rebeccapurple; */
	padding:0;
	margin:0;
}

body {
	font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
	background-color: #1f2937;
	color: #f9faf8;
	flex:1 auto;
}

li {
	list-style-type:none;
}

a {
	text-decoration: none;
	color: #f9faf8;
}

button {
	background-color: #3882f6;
	border:#3882f6;
	border-radius:10px;
	padding:5px 20px;
}

.container {
	display: flex;
	flex-flow:column nowrap;
	flex:1 auto;
	justify-content: space-between;
	min-height:100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:24px;
}

.head-left {
	font-size: 24px;
}

.head-right ul {
	display: flex;
	flex-direction: row;
	gap:24px;
}

.hero-plaque {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 48px;
}

.hero-card {
	display:flex;
	flex-direction: column;

}

.hero-title {
	font-size: 48px;
}

.hero-text > p {
	font-size: 18px;
	color: #e5e7eb;
}

.img-placeholder {
	min-width: 340px;
	min-height: 240px;
	background-color:#778;
	text-align: center;
}

.copyright {
	background-color: #1f2937;
	color: #fff;
	display:flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	padding: 20px;
}
