*,
*::before,
*::after {
/*	border:1px solid rebeccapurple; */
	padding:0;
	margin:0;
}

body {
	font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
	background-color: #1f2937;
	color: #f9faf8;
	flex:1 auto;
}

li {
	list-style-type:none;
}

a {
	text-decoration: none;
	color: #f9faf8;
}

button {
	background-color: #3882f6;
	border:#3882f6;
	border-radius:10px;
	padding: 5px 20px;
	margin-top: 10px;
}

.container {
	display: flex;
	flex-flow:column nowrap;
	flex:1 auto;
	justify-content: space-between;
	min-height:100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:24px;
}

.head-left {
	font-size: 24px;
}

.head-right ul {
	display: flex;
	flex-direction: row;
	gap:24px;
}

.hero-plaque {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 140px;
}

.hero-card {
	display:flex;
	flex-direction: column;

}

.hero-title {
	font-size: 48px;
}

.hero-text > p {
	font-size: 18px;
	color: #e5e7eb;
}

.img-placeholder {
	min-width: 340px;
	min-height: 240px;
	background-color:#778;
	text-align: center;
}

.info-plaque {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.info-title {
	font-size:36px;
	font-weight: bolder;
	padding: 16px;
}

.info-img-con {
	display:flex;
	justify-content: center;
	flex-flow: row nowrap;
	gap: 32px;
	margin: 20px;
}

.img-card {
	text-align: center;
	align-items: center;
	justify-content: space-between;

}

.info-img {
	border:2px solid #3882f6;
	border-radius: 10px;
	min-width: 150px;
	min-height: 150px;
}

.img-card p {
	width: 150px;
}

.quote-plaque {
	color: #1f2937;
	background-color: #e5e7eb;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	padding: 150px;

}

.quote {
	align-self: flex-start;
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
}

.source {
	align-self: flex-end;
	margin: 2px 60px;

}

.ad-plaque {
	padding:40px;
	background-color: #fff;
	color:#fff;
}

.ad-modal {
	background-color:#3882f6;
	border-radius: 8px;
	padding:10px;
}

.copyright {
	background-color: #1f2937;
	color: #fff;
	text-align: center;
	justify-content: center;
	padding: 20px;
}
